<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.utaste">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTaste">

        <!-- LoginActivity = launcher -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity = optionnel, pas de launcher -->
        <activity android:name=".ui.MainActivity"
            android:exported="false"/>

        <activity android:name=".ui.AdminActivity"
            android:exported="false"/>

        <activity android:name=".ui.ChefActivity"
            android:exported="false"/>

        <activity android:name=".ui.WaiterActivity"
            android:exported="false"/>

    </application>
</manifest>
